{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}">
{% endblock %}


{% block title %}{{ parent() }} Ajouter un jeu{% endblock %}

{% block body %}
    <h2 class="my-4">Ajout d'un jeu</h2>
    {{ form(game_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
{% endblock %}


