{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Messages{% endblock %}

{% block body %}
<h2 class="my-4">Messagerie instantanée avec <b>{{ location.owner.firstname }} {{ location.owner.lastname }}</b></h2>
<p class="mb-4 font-italic">Discussion pour le jeu {{ location.game.name }}</p>
    <div class="mainwrapper border border-dark rounded">
            {% for message in location.messages %}
                <div class="ml-2">
                    <p><b style="color: {% if message.sender == app.user %} blue {% else %} red {% endif %}">{{ message.sender.firstname }} {{ message.sender.lastname }} : </b>{{ message.content }}</p>
                </div>
            {% endfor %}
    </div>
    <div class="w-75 justify-content-center">
            {{ form(form) }}
    </div>
{% endblock %}
